*.iws
*.iml
*.ipr
out/

!gradle-wrapper.jar
!gradle-wrapper.properties
**/.gradle/**
**/build/**

*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip

.DS_Store
.gradletasknamecache
.idea/**
hs_err_pid*
replay_pid*
